{{#each sessions as |session|}}
  <section data-id="{{session.id}}">
    <h3>Session:</h3>
      <p>Coach: {{session.coach}}</p>
      <p>Time: {{session.length}}</p>
      <p>Activity: {{session.activity}}</p>
      <p>ID: {{session.id}}</p>

    <form class="delete" data-id="{{session.id}}">
      <button data-id="{{session.id}}" class="btn btn-danger btn-sm delete">Delete Session</button>
    </form>

    <form class="update" data-id="{{session.id}}">
      <button type="submit" value="Update Session" data-id="{{session.id}}"
      class="btn btn-outline-primary btn-sm update">Update Session</button>
      <input type="text" name="session[coach]" placeholder="Coach">
      <input type="text" name="session[length]" placeholder="Length">
      <input type="text" name="session[activity]" placeholder="Activity">
    </form>
  </section>

{{/each}}
